body {
  background: #F6F7F0;
  font-family: Open Sans;
  font-size: 13px;
  color: #555;
}
.container {
  margin: 0 auto;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
}
#birdObject:hover {
  transform:rotate(-3deg);
  -ms-transform:rotate(-3deg); /* IE 9 */
  -webkit-transform:rotate(-3deg); /* Opera, Chrome, and Safari */
}
#birdObject {
  width: 55%;
  height: 60px;

}

/* compose tweet container */
.create-tweet {
  display: none;
}
.create-tweet, 
.enter-username {
  width: 520;
  padding: 5px;
  background: #fff;
  border: 4px solid #e3e4d7;
}


/* input text field */
input[type=text] {
  font-size: 16px;
  background: #fff;
  border: 1px solid #fff;
  padding: 4px 6px;
  height: 20px;
  width: 96%;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
}
input[type=text]:focus {  
  outline: 0;

}


/* submit button */
input[type=submit] {
  position: absolute;
  width: 14.4%;
  top: 0;
  height: 41px;
  border: none;
  outline: none;
  background: #389DFE;
  padding: 10px;
  color: #fff;
}
input[type=submit]:hover {
  background: #3CAFFF;
}


/* action bar */
#actions {
  display: block;
  padding: 0 15px;
  height: 18px;
  color: #389DFE;
  margin: 15px 0;
}
#viewall {
  cursor: pointer;
  text-align: left;
  display: none;
}
#new-tweets {
  cursor: pointer;
  display: inline;
  text-align: left;
}


/* swell animation on hover */
@-webkit-keyframes swell {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
}
@keyframes swell {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
  }
}
.swell:hover {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: swell;
  animation-name: swell;
}

/* individual tweet styles */
.tweet {
  padding: 15px;
  width: auto;
  border-bottom: 15px solid #F6F7F0;
  background: #fff;
}
.username {
  font-weight: bold;
  cursor: pointer;
  color: #389DFE;
}
.hashtag {
  color: #389DFE;
  cursor: pointer;
}
.timestamp {
  font-size: 11px;
  font-style: italic;
  color: #C2C2C2;
}